<h1>Welcome to the {{ title }}</h1>

<div class="data-wrapper">
    {{#each todos}}
    <div>
        <code>
      {{this.id}}: {{this.title}}  ({{this.createdAt}})
    </code>
    </div>
    {{/each}}
</div>

<br> Licht
<br>
<div class="bars">
    {{#each todos}}
    <i class="bar" style="height:{{this.title}}px"></i>
    {{/each}}
</div>

<br>
<br> Temperatuur
<br>

<div class="bars">
    {{#each temps}}
    <i class="bar temp" style="height:{{this.title}}px"></i>
    {{/each}}
</div>